.about-section{
  padding: 100px 8%;
  background: #fdfdfd;
  width: 100%;
}

.mission-text{
  text-align:center;
  font-size: 28px;
  font-weight:700;
  line-height: 1.4;
  margin-bottom: 60px;
  color: black;
}

.mission-text span{
  color:#e30070;
}

/* CARD */
.about-wrapper{
  border:2px solid #ff4aa8;     /* pink border */
  padding:60px 55px;
  border-radius:12px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:60px;
  background:#ffffff;
  box-shadow:0 8px 24px rgba(0,0,0,0.05);
  margin-bottom:80px;
}

/* text box */
.about-content{
  flex:1;
}

/* heading */
.about-heading{
  font-size:30px;
  margin-bottom:25px;
  font-weight:700;
  color: black;
}

.about-heading span{
  color:#e30070;
}

/* bullet text */
.title{
  font-size:20px;
  color: black;
}

/* body text improved */
.about-para{
  font-size:18px;
  line-height:1.7;
  color:#444;
  margin-top:12px;
  max-width:520px;
}

/* big image */
.about-photo{
  width:45%;
  border-radius:14px;
  object-fit:cover;
  min-height:380px;
}

.bullet{
  display:flex;
  align-items:center;
  gap:10px;
  margin-bottom:14px;
}

.square{
  width:12px;
  height:12px;
  background:#e30070;
  border-radius:3px;
}

.title{
  font-weight:600;
}


/* next row */

.vision-box{
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:50px;
}

/* Make both sides equal width */
.vision-img{
  width:50%;
  height:350px;
  object-fit:cover;
  border-radius:10px;
}

.vision-content{
  width:50%;
}


.quote{
  font-size:18px;
  font-weight:600;
  margin-bottom:10px;
  color:#444;
}

.vision-btn{
  margin-top:20px;
  padding:12px 24px;
  border-radius:30px;
  background:#111;
  color:white;
  font-weight:600;
  border:none;
  cursor:pointer;
}

/* mobile */

@media (max-width:900px){
  .about-wrapper{
    flex-direction:column;
    padding:45px 30px;
    text-align:center;
    padding: 0px;
    gap: 10px;
    border: none;
  }
  .about-content{
    border: 2px solid #e30070;
    padding: 8px;
    border-radius: 8px;
  }
  .about-photo{
    width:100%;
    min-height:280px;
  }

  .about-heading{
    font-size:26px;
  }

  .title{
    font-size:18px;
  }



  .about-para{
    font-size:12px;
  }
  .vision-box{
    flex-direction:column;
    text-align:center;
    border: 2px solid #e30070;
    padding: 10px;
    border-radius: 8px;
  }

  .vision-img{
    display: none;
  }
  .vision-content{
    width:100%;
  }

  .vision-img{
    height:260px;
  }
}
